body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;
  color: white;
}

.header__actions {
  display: none;
}

/** 48rem 768px */
@media screen and (min-width: 48rem) {
  .header__actions {
    display: block;
  }
}

/** Search section styles. */
.search-section {
  background-color: #dbdcf3;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.search-section__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 48rem) {
  .search-section__title {
    font-size: 2.5rem;
  }
}

.search-section__title {
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (min-width: 48rem) {
  .search-section__container {
    width: 728px;
  }
}

@media screen and (min-width: 64rem) {
  .search-section__title {
    font-size: 3.5rem;
  }
}

.search-section__form {
  position: relative;
}

.search-section__input {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 50px;
  font-size: 1rem;
}

.search-section__button {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: white;

  font-size: 22px;
}

.search-section__button:hover {
  color: blue;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 48rem) {
  .services {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .services {
    margin-bottom: 4rem;
  }
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.card p {
  margin-top: 0;
}

.card__link {
  color: blue;
  font-weight: 400;
  text-decoration: none;
}

.card__link i {
  margin-left: 0.25rem;
  font-size: 0.75rem;
}

.card__link:hover {
  text-decoration: underline;
}

.card__image {
  width: 80px;
  height: 80px;
}

/** Button styles. */
.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
}

.btn:hover {
  opacity: 0.75;
}

.btn--secondary {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.btn--primary {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

footer {
  background-color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

@media screen and (min-width: 48rem) {
  .footer__menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer__copyright {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    width: 1024px;
  }
}
