@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap");

:root {
  --bonsai-green: #01b389;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Henry: Header Section */
.header {
  background-color: #ddd;
}

.header__logo {
  color: aquamarine;
}

.header__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.header__navigation {
  padding: 0.5rem 1.5rem;
}

.header__navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
}

.btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.btn--primary {
  background-color: #00ffea02;
  color: var(--bonsai-green);
  border: 2px solid var(--bonsai-green);
}

.btn--secondary {
  background-color: var(--bonsai-green);
  color: white;
  border: 2px solid var(--bonsai-green);
}

/* Lenin: Plans and Pricing Section */
.card a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.card a:hover {
  color: #01b389;
}

.next {
  display: block;
  width: 277px;
  border-radius: 3px;
  text-align: center;
  border-color: transparent;
  color: #ffffff;
  background-color: #01b389;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  margin-left: 2.5rem;
}

.next:hover {
  background-color: #e4c95e;
}

.card i {
  color: #01b389;
  margin-right: 0.5rem;
}

.card li {
  list-style: none;
}

.card hr {
  border: 1.25px solid #01b389;
  width: 78%;
}

.box {
  width: 380px;
  height: 480px;
  border-radius: 3px;
  border: 1px solid rgb(130, 129, 129);
}

/* Paul: Cards Section */

.flex-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  width: 1024px;
  margin: 0rem 10rem 0rem 10rem;
}

.flex-item {
  display: flex;
  background: #fff;
  padding: 1rem;
  justify-content: space-between;
}

/* Yuli: Banner and Accordion Section */
.yuly_container{
  display: flex;
  justify-content: space-between;
  color: black;
  background:#cce4d2;
  text-align: center;
  margin:1rem 15rem 0.03px 15rem;
  padding: 0.5rem 1.5rem;
  
}

span.g_your{
  color: #b31301;
  
}
.start_free{
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;
  text-align:right;
  display: flex;
  padding:1em;
  margin:32px 45px 10px 350px;
}
.color{
  color:#01b389;
  display: flex;
  background:white;
  text-align: center;
  margin:0.3px 200px 0.3px 500px;
  }

.yu{
  color: black;
  background:white;
  height: 90px;
  margin:0.3px 200px 31px 250px;
  text-align:left;
  width: 500px;
  line-height: 1.5rem;
  }
 
/* Yesica: Footer Section */
footer {
  background: #f1f6f1;
}

.footer {
  color: #4e4e4e;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 64rem;
}

.footer h4 {
  text-transform: uppercase;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul a {
  color: #4e4e4e;
  font-size: 0.85rem;
  text-decoration: none;
  line-height: 1.5rem;
}

.footer ul a:hover {
  color: #1db87d;
}

.footer__btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.footer__btn i {
  color: #4e4e4e;
}

.footer__btn i:hover {
  color: #1db87d;
}

.footer__heading-5 {
  margin-bottom: 0;
}
